tabs.shadow-y
	tab(data-id="#page-responsive").is-active Adaptabilidad
	tab(data-id="#page-grid") Columnas
	tab(data-id="#page-align") Distribución
	tab(data-id="#page-layout") Maquetación
tabs-content.app
	tab-content#page-responsive
		include ../grid/responsive.jade
	tab-content#page-grid
		include ../grid/grid.jade
	tab-content#page-align
		include ../grid/align.jade
	tab-content#page-layout
		include ../grid/layout.jade
