.wrapper
	h1.title Maquetación
	message.is-info.margin-1
		header Importante
		content Te recomendamos visualizar esta sección en un ordenador para que puedas apreciar el resultado, por defecto en resoluciones menores a
			code 768px
			span todos los contenedores tienen el 100% de ancho.
	p.bloque-text La organización de las diferentes secciones de una web es trabajo duro, este novedoso sistema de
		b  layout 
		span te permitira crear estructuras que solo eran posibles mediante
		tag.is-warning.is-text-bolder javascript
		span .
	h4.subtitle Estructura
	ul
		li
			code layout
			span Contenedor principal
			ul
				li
					code header
					span Cabecera del layout.
				li
					code Navbar
					span Barra de navegación horizontal.
				li
					code sidebar
					span Menu vertical.
				li
					code main
					span Contenido principal del layout.
				li
					code footer
					span Pie del layout.
	h4.subtitle Plantilla estandar
	row.margin-v-2
		column.tablet-is-half
			row.demo-layout-dist
				column.padding-1.color-primary Header
				column.padding-1.color-warning.is-center Navbar
				row-mobile
					column.padding-1.color-dark.mobile-4 Sidebar
					column.padding-1.color-info-lighten-4.mobile-16 Content
				column.padding-1.color-danger Footer
		column.tablet-is-half
			snippet
				pre
					cm // Layout basico
					tg &ltlayout&gt
					br
					tg     &ltheader
					at class=
					vat "color-primary"
					tg &gt
					span @content
					tg &lt/header&gt
					br
					tg     &ltnavbar
					at class=
					vat "color-warning"
					tg &gt
					span @content
					tg &lt/navbar&gt
					br
					tg     &ltsidebar
					at class=
					vat "color-dark"
					tg &gt
					span @content
					tg &lt/sidebar&gt
					br
					tg     &ltmain
					at class=
					vat "color-info-lighten-4"
					tg &gt
					span @content
					tg &lt/main&gt
					br
					tg     &ltfooter
					at class=
					vat "color-danger"
					tg &gt
					span @content
					tg &lt/footer&gt
					br
					tg &lt/layout&gt
	h4.subtitle Plantilla de bloque
	p Añadiendo la clase
		code .is-block
		span al contenedor
		code layout
		span se puede conseguir una distribución estilo bloque.
	row.margin-v-2
		column.tablet-is-half
			row.demo-layout-dist
				column.padding-1.color-primary Header
				column.padding-1.color-warning.is-center Navbar
				column.padding-1.color-dark Sidebar
				column.padding-1.color-info-lighten-4 Content
				column.padding-1.color-danger Footer
		column.tablet-is-half
			snippet
				pre
					cm // Layout basico
					tg &ltlayout
					at class=
					vat "is-block"
					tg &gt
					br
					tg     &ltheader
					at class=
					vat "color-primary"
					tg &gt
					span @content
					tg &lt/header&gt
					br
					tg     &ltnavbar
					at class=
					vat "color-warning"
					tg &gt
					span @content
					tg &lt/navbar&gt
					br
					tg     &ltsidebar
					at class=
					vat "color-dark"
					tg &gt
					span @content
					tg &lt/sidebar&gt
					br
					tg     &ltmain
					at class=
					vat "color-info-lighten-4"
					tg &gt
					span @content
					tg &lt/main&gt
					br
					tg     &ltfooter
					at class=
					vat "color-danger"
					tg &gt
					span @content
					tg &lt/footer&gt
					br
					tg &lt/layout&gt
	h5.subtitle Plantilla estilo dashboard
	p Añadiendo clase 
		code .is-dashboard
		span .
	row.margin-v-2
		column.tablet-is-half
			row-mobile.demo-layout-dist
				column.color-dark.mobile-4.padding-1 Sidebar
				column.color-info-lighten-4.mobile-16.padding-1 Content
		column.tablet-is-half
			snippet
				pre
					tg &ltlayout
					at  class=
					vat "is-dashboard"
					tg &gt
					br
					tg     &ltsidebar
					at  class=
					vat "color-dark"
					tg &gt
					span @Content
					tg &lt/sidebar&gt
					br
					tg     &ltmain
					at  class=
					vat "color-info-lighten-4"
					tg &gt
					span @content
					tg &lt/main&gt
					br
					tg &lt/layout&gt
	h4.subtitle Plantilla dashboard derecho
	p Añadiendo la clase
		code .is-rtl
		span a un
		code layout
		span con la clase
		code is-dashboard
		span .
	row.margin-v-2
		column.tablet-is-half
			row-mobile.demo-layout-dist
				column.color-info-lighten-4.mobile-16.padding-1 Content
				column.color-dark.mobile-4.padding-1 Sidebar
		column.tablet-is-half
			snippet
				pre
					tg &ltlayout
					at class=
					vat "is-dashboard is-rtl"
					tg &gt
					br
					tg     &ltsidebar
					at  class=
					vat "color-dark"
					tg &gt
					span @Content
					tg &lt/sidebar&gt
					br
					tg     &ltmain
					at  class=
					vat "color-info-lighten-4"
					tg &gt
					span @content
					tg &lt/main&gt
					br
					tg &lt/layout&gt
	h4.subtitle Navbar + dashboard
	p.bloque-text añadiendo el módulo
		code Navbar
		span dentro del contenedor
		code layout
		span .
	row.margin-v-2
		column.tablet-is-half
			row.demo-layout-dist
				column.is-block.color-warning.padding-1 Navbar
				row-mobile
					column.color-dark.mobile-4.padding-1 Sidebar
					column.color-info-lighten-4.mobile-16.padding-1 Content
		column.tablet-is-half
			snippet
				pre
					tg &ltlayout
					at class=
					vat "is-dashboard"
					tg &gt
					br
					tg     &ltnavbar
					at class=
					vat "color-warning"
					tg &gt
					span Navbar
					tg &lt/navbar&gt
					br
					tg     &ltsidebar
					at class=
					vat "color-dark"
					tg &gt
					span Sidebar
					tg &lt/sidebar&gt
					br
					tg     &ltmain
					at  class=
					vat "color-info-lighten-4"
					tg &gt
					span Content
					tg &lt/main&gt
					br
					tg &lt/layout&gt
	h4.subtitle Sidebar doble
	p.bloque-text Añadiendo la clase
		code is-double-sidebar
		span al contenedor
		code layout
		span , y sus respectivos elementos
		code sidebar
		span .
	row.margin-v-2
		column.tablet-is-half
			row.demo-layout-dist
				column.is-block.color-warning.padding-1 Navbar
				row-mobile
					column.color-dark.mobile-4.padding-1 Sidebar A
					column.color-info-lighten-4.mobile-12.padding-1 Content
					column.color-dark.mobile-4.padding-1 Sidebar B
		column.tablet-is-half
			snippet
				pre
					tg &ltlayout
					at class=
					vat "is-double-sidebar"
					tg &gt
					br
					tg     &ltnavbar
					at class=
					vat "color-warning"
					tg &gt
					span Navbar
					tg &lt/navbar&gt
					br
					tg     &ltsidebar
					at class=
					vat "color-dark"
					tg &gt
					span Sidebar A
					tg &lt/sidebar&gt
					br
					tg     &ltmain
					at  class=
					vat "color-info-lighten-4"
					tg &gt
					span Content
					tg &lt/main&gt
					br
					tg     &ltsidebar
					at class=
					vat "color-dark"
					tg &gt
					span Sidebar B
					tg &lt/sidebar&gt
					br
					tg &lt/layout&gt
	h4.subtitle Navbar anidado
	p Los
		code layout
		span y sus contenedores soportan perfectamente la anidación de forma independiente.
	row.margin-v-2
		column.tablet-is-half
			row-mobile.demo-layout-dist
				column.color-dark.mobile-4.padding-1 Sidebar
				column.color-info-lighten-4.mobile-16
					column.is-block.color-warning.padding-1 Navbar
		column.tablet-is-half
			snippet
				pre
					tg &ltlayout
					at class=
					vat "is-dashboard"
					tg &gt
					br
					tg     &ltsidebar
					at class=
					vat "color-dark"
					tg &gt
					span Sidebar
					tg &lt/sidebar&gt
					br
					tg     &ltmain
					at  class=
					vat "color-info-lighten-4"
					tg &gt
					br
					tg         &ltnavbar
					at class=
					vat "color-warning"
					tg &gt
					span Navbar anidado
					tg &lt/navbar&gt
					br
					tg     &lt/main&gt
					br
					tg &lt/layout&gt
	h4.subtitle Ajustando el ancho del sidebar
	p.bloque-text El componente
		code layout
		span esta construido utilizando
		b.is-text-info Grid CSS3
		span .
	p.bloque-text Por defecto el ancho del sidebar es de un
		code 20%
		span y el contenedor
		code main
		span tiene el espacio restante, kimera incluye 3 clases adicionales para modificar el tamaño del sidebar:
	ul
		li
			code is-tiny-sidebar
			small.is-text-bolder asigna un ancho del 5%.
		li
			code is-small-sidebar
			small.is-text-bolder asigna un ancho del 15%.
		li
			code is-medium-sidebar
			small.is-text-bolder asigna un ancho del 25%
		li
			code is-large-sidebar
			small.is-text-bolder asigna un ancho del 30%
	message.is-info.is-small.margin-1
		content Estas clases no tienen soporte para el elemento
			code layout
			span que tenga asignada la clase
			code is-double-sidebar
			span .
	p.bloque-text puedes modificar estos valores sobreescribiendo el estilo por defecto de la siguiente forma:
	snippet.margin-v-1
		pre
			tg .mi-layout
			at {
			br
			tg     grid-template-columns:
			vat 20% auto
			tg ;
			span /*los porcentajes corresponden al ancho del sidebar, el contenedor main toma todo el espacio restante*/
			br
			at }
	p.bloque-text Puedes modificar el layout con la clase
		code is-double-sidebar
		span  de la siguiente forma:
	snippet.margin-v-1
		pre
			tg .mi-layout
			at {
			br
			tg     grid-template-columns:
			vat <danger>20%</danger> auto <danger>20%</danger>
			tg ;
			span /*los porcentajes en rojo corresponden al ancho de los sidebar*/
			br
			at }
	row.bloque
		column
			row-mobile.demo-layout-size
				column.mobile-1.touch-1.color-dark
					b tiny
				column.mobile-19.touch-19.color-info-lighten-4
					b content
	snippet.margin-v-1
		pre
			tg &ltlayout
			at class=
			vat "is-dashboard is-tiny-sidebar"
			tg &gt
			br
			tg     &ltsidebar
			at  class=
			vat "color-dark"
			tg &gt
			span Small
			tg &lt/sidebar&gt
			br
			tg     &ltmain
			at  class=
			vat "color-info-lighten-4"
			tg &gt
			span @content
			tg &lt/main&gt
			br
			tg &lt/layout&gt
	row.bloque
		column
			row-mobile.demo-layout-size
				column.mobile-3.touch-3.color-dark
					b Small
				column.mobile-17.touch-17.color-info-lighten-4
					b content
	snippet.margin-v-1
		pre
			tg &ltlayout
			at class=
			vat "is-dashboard is-small-sidebar"
			tg &gt
			br
			tg     &ltsidebar
			at  class=
			vat "color-dark"
			tg &gt
			span Small
			tg &lt/sidebar&gt
			br
			tg     &ltmain
			at  class=
			vat "color-info-lighten-4"
			tg &gt
			span @content
			tg &lt/main&gt
			br
			tg &lt/layout&gt
	row.bloque
		column
			row-mobile.demo-layout-size
				column.mobile-4.touch-4.color-dark
					b Sidebar
				column.mobile-16.touch-16.color-info-lighten-4
					b content
	snippet.margin-v-1
		pre
			tg &ltlayout
			at class=
			vat "is-dashboard"
			tg &gt
			br
			tg     &ltsidebar
			at  class=
			vat "color-dark"
			tg &gt
			span Default
			tg &lt/sidebar&gt
			br
			tg     &ltmain
			at  class=
			vat "color-info-lighten-4"
			tg &gt
			span @content
			tg &lt/main&gt
			br
			tg &lt/layout&gt
	row.bloque
		column
			row-mobile.demo-layout-size
				column.mobile-5.touch-5.color-dark
					b Medium
				column.mobile-15.touch-15.color-info-lighten-4
					b content
	snippet.margin-v-1
		pre
			tg &ltlayout
			at class=
			vat "is-dashboard is-medium-sidebar"
			tg &gt
			br
			tg     &ltsidebar
			at  class=
			vat "color-dark"
			tg &gt
			span Medium
			tg &lt/sidebar&gt
			br
			tg     &ltmain
			at  class=
			vat "color-info-lighten-4"
			tg &gt
			span @content
			tg &lt/main&gt
			br
			tg &lt/layout&gt
	row.bloque
		column
			row-mobile.demo-layout-size
				column.mobile-6.touch-6.color-dark
					b Large
				column.mobile-14.touch-14.color-info-lighten-4
					b content
	snippet.margin-v-1
		pre
			tg &ltlayout
			at class=
			vat "is-dashboard is-large-sidebar"
			tg &gt
			br
			tg     &ltsidebar
			at  class=
			vat "color-dark"
			tg &gt
			span Large
			tg &lt/sidebar&gt
			br
			tg     &ltmain
			at  class=
			vat "color-info-lighten-4"
			tg &gt
			span @content
			tg &lt/main&gt
			br
			tg &lt/layout&gt
	row.bloque.is-separated
		button(data-link="layout-responsive").is-primary-invert
			icon
				i.fa.fa-arrow-left
			span   Responsive
		button(data-link="layout-align").is-primary-invert
			span Align  
			icon
				i.fa.fa-arrow-right