- var urlimage = 'https://xoolar-quantum.000webhostapp.com/img/';
//- var urlimage = 'img/';
- var version = "0.4.6";
doctype
html
	head
		include main/_headers.jade
	body
		layout.is-dashboard.is-small-sidebar
			sidebar#menu-principal
				include main/_menu.jade
			main.overflow-y
				group.is-boxed#bottom-nav.is-hidden-desktop.padding-2
					group-item#mostrar-side-menu
						a(href="#")
							icon.is-medium
								i.fa.fa-bars
					group-item
						a(href="https://github.com/JorgeAntrax/kimera/fork" target="_blank").is-medium
							icon.is-text-dark
								i.fa.fa-code-fork
					group-item
						a(href="https://github.com/JorgeAntrax/kimera/issues" target="_blank").is-medium
							icon.is-text-dark
								i.fa.fa-exclamation-circle
					group-item
						a(href="https://github.com/JorgeAntrax/kimera" target="_blank")
							icon.is-medium
								i.fa.fa-github
					group-item
						a(href="#home").is-medium
							icon
								i.fa.fa-arrow-up
				#home
				.menu_content#layout-home
					include intro/_home.jade
				.menu_content#layout-intro
					include intro/_all.jade
				.menu_content#layout-grid
					include grid/_all.jade
				.menu_content#layout-components
					include components/_all.jade
				.menu_content#layout-forms
					include forms/_all.jade
				.menu_content#layout-modules
					include modules/_all.jade
				#footer
					include main/_footer.jade
		script(src="https://platform.twitter.com/widgets.js" charset="utf-8")
		script(src="js/kimera.min.js")
		script(src="js/main.js")