center.color-dark.padding-05.is-small Excelente, la versión
	b.is-text.medium #{version}
	span esta lista.
	a(modal="#cambios" href="#").is-text-cloud.is-text-underline Ver cambios.
include features
center.is-full-center#intro-header
	center.padding-1
		img(src=urlimage+'logo-azul-light.png' alt="kimera")#mega_logo
		h1.is-text-primary.is-text-upper Kimera
		p Un framework
			b CSS 
			span gratuito y open source basado en
			b  flexbox
			span y etiquetas personalizadas.
		row.is-center
			center
				snippet.monokai.not-label
					pre.is-text-bolder
						span.is-text-warning npm  
						at install  
						span.is-text-danger kimera
		a(href="https://github.com/JorgeAntrax/kimera/archive/master.zip" target="_blank").is-medium.button.is-success.margin-v-1 Descargar v#{version}
mega.is-full-center
	row#features
		column.touch-is-half.tablet-6.margin-v-1
			icon.is-jumbo
				i.fa.fa-mobile.is-text-primary
				i.fa.fa-laptop.is-text-success
				i.fa.fa-desktop.is-text-warning
			upper.is-text-medium.is-text-bolder.padding-v-1 mobile first
			small
				b Adaptable
				span a diferentes dispositivos y basado en la metodología mobile first.
		column.touch-is-half.tablet-6.margin-v-1
			icon.is-jumbo.is-text-info
				i.fa.fa-css3
			upper.is-text-medium.is-text-bolder.padding-v-1 flexbox & grid
			small Con todas las ventajas de flexbox y Grid CSS3, crea plantillas muy potentes.
		column.touch-is-half.tablet-6.margin-v-1
			icon.is-jumbo.is-text-success
				i.fa.fa-codepen
			upper.is-text-medium.is-text-bolder.padding-v-1 Vanilla JS
			small Kimera no utiliza ningún framework
				b JS
				span de terceros.
		column.touch-is-half.tablet-6.margin-v-1
			icon.is-jumbo.is-text-warning
				i.fa.fa-cubes
			upper.is-text-medium.is-text-bolder.padding-v-1 sistema modular
			small Importa solo lo necesario mediante nuestro increible sistema de importación.
		column.touch-is-half.tablet-6.margin-v-1
			icon.is-jumbo
				i.fa.fa-angellist
			upper.is-text-medium.is-text-bolder.padding-v-1 open source
			small Kimera es un proyecto gratuito,
				b Open source 
				span que trabaja bajo la licencia
				b MIT.
		column.touch-is-half.tablet-6.margin-v-1
			icon.is-jumbo.is-text-danger
				i.fa.fa-simplybuilt
			upper.is-text-medium.is-text-bolder.padding-v-1 Código limpio
			small Basado en
				b  etiquetas
				span  personalizadas que facilitan su integración.
.is-full-center.color-light(style="display:flex; flex-direction: column;").is-separated
	center
		p.is-text-center Top screen
		icon.is-medium
			i.fa.fa-angle-up
	center.padding-1
		hgroup
			h2.is-text-info Centrado vertical absoluto
			p.is-subtitle.is-text-center Tu contenido siempre centrado en pantalla completa.
			snippet.monokai
				pre
					tg &ltdiv
					at class=
					vat "is-full-center"
					tg &gt
					cm     //Content
					tg &ltdiv&gt
	center
		icon.is-medium
			i.fa.fa-angle-down
		p.is-text-center Bottom screen
.is-full-center#demo-form
	h3.subtitle Formularios
		danger   impresionantes.
	form
		icon#user-form-demo.color-danger
			i.fa.fa-user
		small.is-text-bolder.is-text-danger Usuario
		field
			control
				input(type="text" placeholder="Ingresa aquí tu usuario" required autocomplete="username").input.is-material
				help.is-validate Por favor ingresa un nombre de usuario valido
		small.is-text-bolder.is-text-danger Contraseña
		field
			control
				input(type="password" placeholder="Ingresa tu contraseña" required autocomplete="current-password").input.is-material
				help.is-validate Tu contraseña debe tener como minímo 6 carácteres.
		checkbox.is-check.is-info#demof2
		span Recordarme
		center.padding-v-1
			button(type="submit").is-rounded.is-danger-outline Iniciar sesión
		center.is-small Olvide mis datos.
row.bloque.padding-h-1
	column.touch-8
		h3.subtitle Botones intuitivos.
	column.tablet12.padding-2
		buttons
			button Default
			button.is-light Light
			button.is-black Black
			button.is-dark Dark
		buttons
			button.is-primary Primary
			button.is-info Info
			button.is-success Success
			button.is-warning Warning
			button.is-danger Danger
row.bloque.padding-h-1
	column.touch-8
		h3.subtitle Dropdowns 
	column.touch-12.padding-2
		dropdown
			button.is-toggle-dropdown.is-info
				span Dropdown info
				icon
					i.fa.fa-angle-down
			dropmenu
				drop-item Este es un item
				drop-item Este es otro item
				divider
				drop-item: a(href="#") Este es un enlace
		dropdown
			button.is-toggle-dropdown.is-success
				span Dropdown success
				icon
					i.fa.fa-angle-down
			dropmenu
				drop-item Este es un item
				drop-item Este es otro item
				divider
				drop-item: a(href="#") Este es un enlace
		dropdown
			button.is-toggle-dropdown.is-warning
				span Dropdown warning
				icon
					i.fa.fa-angle-down
			dropmenu
				drop-item Este es un item
				drop-item Este es otro item
				divider
				drop-item: a(href="#") Este es un enlace
		dropdown
			button.is-toggle-dropdown.is-danger
				span Dropdown danger
				icon
					i.fa.fa-angle-down
			dropmenu
				drop-item Este es un item
				drop-item Este es otro item
				divider
				drop-item: a(href="#") Este es un enlace
row.bloque.padding-h-1
	column.touch-8
		h3.subtitle Barras de progreso increibles 
	column.touch-12.padding-2
		process(label="static" value="20%").is-slim.is-primary
		process(label="static" value="40%").is-small.is-info
		process(label="static" value="60%").is-success
		process(label="static" value="80%").is-medium.is-warning
		process(label="static" value="100%").is-large.is-danger
row.bloque.is-distributed-desktop
	.padding-2.tablet-is-half
		h3.subtitle Pagination.
	column.tablet-is-half
		pagination
			page-item.page.prev
				icon
					i.fa.fa-angle-left
			page-item 1
			page-item 2
			page-item 3
			page-item.is-active 4
			page-item ...
			page-item 9
			page-item 10
			page-item.page.next
				icon
					i.fa.fa-angle-right
row.bloque.is-distributed-desktop
	.padding-2.tablet-is-half
		h3.subtitle Barras de navegación muy versatiles.
	column.tablet-is-half
		mobile.tablet-8
			navbar.color-black
				navbrand
					logo(text="<h4>Brand title</h4>")
					icon.is-toggle-navbar.is-medium
						i.fa.fa-bars
				navmenu
					nav-item Buscar
					nav-item Productos
					nav-item Servicios
					nav-item Contactos
		mobile.tablet-8
			navbar.is-rtl
				navbrand
					logo(text="<h4>Brand title</h4>")
					icon.is-toggle-navbar.is-medium
						i.fa.fa-bars
				navmenu
					nav-item Buscar
					nav-item Productos
					nav-item Servicios
					nav-item Contactos
row.bloque.padding-h-1
	column.tablet-is-half
		h3.subtitle Componentes para redes sociales.
	column.tablet-is-half
		box
			social
				media
					responsive.is-square-48
						img(src="https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-9/25659728_1503334959787685_1657382726692292790_n.jpg?oh=5d22e1fe2efeb3d3d899e68a08916c96&oe=5AF990F3", alt="").is-rounded
				content
					header
						textarea(placeholder="Descripción" rows="1").is-rounded.is-info
					section
						group.test-hover
							group-item
								icon.op-03.is-small
									i.fa.fa-thumbs-o-up
							group-item
								icon.op-03.is-small
									i.fa.fa-camera
							group-item
								icon.op-03.is-small
									i.fa.fa-link
							group-item
								icon.op-03.is-small
									i.fa.fa-plus-square-o
				button.is-info.is-small
					span Publicar
row.bloque.padding-h-1
	column.tablet-is-half
		h3.subtitle Notificaciones simples.
	column.tablet-is-half
		notify Notificaciones flexibles
		br
		notify.is-info Una versatilidad impresionante
		br
		notify.is-success Con estilos increibles por defecto
row.bloque.padding-h-1
	column.tablet-is-half
		h3.subtitle Tarjetas flexibles
	column.tablet-is-half
		card
			responsive
				img(src="https://images.pexels.com/photos/753337/pexels-photo-753337.jpeg?h=350&auto=compress&cs=tinysrgb", alt="pexels.com")
			content
				h4 John Smith
				info.subtitle: h6 @JohnSmith
				justify.subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa et delectus, porro repellendus necessitatibus quaerat.
				small
					a(href="#") #Kimera
					a(href="#") @kimeraCSS<br>
				tiny.subtitle
					i 10 • Feb • 2018 - 08:45 pm