include features
row.is-fluid.wrapper#intro-header
	column.tablet-6.is-flex.is-center
		img(src=urlimage+'logo-azul-light.png' alt="kimera")#mega-logo
	column.tablet-14
		h1.is-text-primary.is-text-upper Kimera
		p.is-large.margin-b-2 Es un moderno framework
			b CSS 
			span gratuito y de codigo abierto, basado en
			b  flexbox
			span y grid layout.
		div
			snippet.monokai.not-label
				pre.is-text-bolder
					span.is-text-warning npm  
					at install  
					span.is-text-danger kimera
		row.is-center.is-left-tablet
			div.margin-t-1
				button.is-primary.is-medium
					a(href="https://github.com/JorgeAntrax/kimera/archive/master.zip" target="_blank") Descargar v#{version}
			div.margin-t-1
				button#show-docs.is-primary-invert.is-medium
					icon.is-medium
						i.fa.fa-book
					span   Ver documentación
mega.is-full-center
	row#features
		column.touch-is-half.tablet-6.margin-v-1
			icon.is-jumbo
				i.fa.fa-mobile.is-text-primary
				i.fa.fa-laptop.is-text-success
				i.fa.fa-desktop.is-text-warning
			.is-text-upper.is-text-medium.is-text-bolder.padding-v-1 mobile first
			span
				b Adaptable
				span a diferentes dispositivos y basado en la metodología mobile first.
		column.touch-is-half.tablet-6.margin-v-1
			icon.is-jumbo.is-text-info
				i.fa.fa-css3
			.is-text-upper.is-text-medium.is-text-bolder.padding-v-1 flexbox y grid
			span Con todas las ventajas de trabajar flexbox y grid CSS3.
		column.touch-is-half.tablet-6.margin-v-1
			icon.is-jumbo.is-text-success
				i.fa.fa-codepen
			.is-text-upper.is-text-medium.is-text-bolder.padding-v-1 Vanilla JS
			span Kimera no utiliza librerías
				b javascript
				span de terceros.
		column.touch-is-half.tablet-6.margin-v-1
			icon.is-jumbo.is-text-warning
				i.fa.fa-cubes
			.is-text-upper.is-text-medium.is-text-bolder.padding-v-1 sistema modular
			span Importa solo lo necesario, con nuestro increible sistema de impotación
		column.touch-is-half.tablet-6.margin-v-1
			icon.is-jumbo
				i.fa.fa-angellist
			.is-text-upper.is-text-medium.is-text-bolder.padding-v-1 open source
			span Kimera es gratuito y
				b open source 
				span que trabaja bajo la lisencia
				b MIT.
		column.touch-is-half.tablet-6.margin-v-1
			icon.is-jumbo.is-text-danger
				i.fa.fa-simplybuilt
			.is-text-upper.is-text-medium.is-text-bolder.padding-v-1 Código limpio
			span Basado en
				b  etiquetas personalizadas
				span  que facilitan la integracion en tus proyectos.
.is-full-center.color-light(style="display:flex; flex-direction: column;").is-separated
	center
		p.is-text-center Top screen
		icon.is-medium
			i.fa.fa-angle-up
	center.padding-1
		hgroup
			h2.is-text-info Centrado vertical a pantalla completa
			p.is-subtitle.is-text-center Tu contenido siempre estará centrado.
	center
		icon.is-medium
			i.fa.fa-angle-down
		p.is-text-center Bottom screen
.is-full-center#demo-form
	h3.subtitle
		span Formularios  
		span.is-text-danger Impresionantes
	form
		icon#user-form-demo.color-danger
			i.fa.fa-user
		small.is-text-bolder.is-text-danger Usuario
		field
			control
				input(type="text" placeholder="Ingrese usuario" required autocomplete="username").input.is-material
				help.is-validate Porfavor ingrese un usuario valido.
		small.is-text-bolder.is-text-danger Contraseña
		field
			control
				input(type="password" placeholder="Ingrese contraseña" required autocomplete="current-password").input.is-material
				help.is-validate Tu contraseña debe tener minimo 6 carateres
		checkbox.is-check.is-info#demof2
		span Recuerdame
		center.padding-v-1
			button(type="submit").is-rounded.is-danger-outline Entrar
		center.is-small Olvide mis datos.
row.bloque.padding-h-1.wrapper
	column.touch-8
		h3.subtitle Botones limpios.
	column.tablet12.padding-2
		buttons
			button Default
			button.is-light Light
			button.is-black Black
			button.is-dark Dark
		buttons
			button.is-primary Primary
			button.is-info Info
			button.is-success Success
			button.is-warning Warning
			button.is-danger Danger
row.bloque.padding-h-1.wrapper
	column.touch-8
		h3.subtitle Dropdowns 
	column.touch-12.padding-2
		dropdown
			button.is-toggle-dropdown.is-info
				span Dropdown info  
				icon
					i.fa.fa-angle-down
			dropmenu
				drop-item Este es un item
				drop-item Este es otro item
				divider
				drop-item: a(href="#") Este es un enlace
		dropdown
			button.is-toggle-dropdown.is-success
				span Dropdown success  
				icon
					i.fa.fa-angle-down
			dropmenu
				drop-item Este es un item
				drop-item Este es otro item
				divider
				drop-item: a(href="#") Este es un enlace
		dropdown
			button.is-toggle-dropdown.is-warning
				span Dropdown warning  
				icon
					i.fa.fa-angle-down
			dropmenu
				drop-item Este es un item
				drop-item Este es otro item
				divider
				drop-item: a(href="#") Este es un enlace
		dropdown
			button.is-toggle-dropdown.is-danger
				span Dropdown danger  
				icon
					i.fa.fa-angle-down
			dropmenu
				drop-item Este es un item
				drop-item Este es otro item
				divider
				drop-item: a(href="#") Este es un enlace
row.bloque.padding-h-1.wrapper
	column.touch-8
		h3.subtitle Progress bar impresionantes 
	column.touch-12
		process(label="static" value="20%").is-slim.is-primary
		process(label="static" value="40%").is-small.is-info
		process(label="static" value="60%").is-success
		process(label="static" value="80%").is-medium.is-warning
		process(label="static" value="100%").is-large.is-danger
row.bloque.is-distributed-desktop.wrapper
	.padding-2.tablet-is-half
		h3.subtitle Paginacion.
	column.tablet-is-half
		pagination.is-rounded.is-material
			page-item.page.prev
				icon
					i.fa.fa-angle-left
			page-item 1
			page-item 2
			page-item 3
			page-item.is-active 4
			page-item ...
			page-item 9
			page-item 10
			page-item.page.next
				icon
					i.fa.fa-angle-right
row.bloque.is-distributed-desktop.wrapper
	.padding-2.tablet-is-half
		h3.subtitle Barras de navegación
	column.tablet-is-half
		mobile.tablet-8
			navbar.color-black
				navbrand
					logo(text="<h4>Brand title</h4>")
					icon.is-toggle-navbar.is-medium
						i.fa.fa-bars
				navmenu
					nav-item Buscar
					nav-item Productos
					nav-item Servicios
					nav-item Contactos
		mobile.tablet-8
			navbar.is-rtl
				navbrand
					logo(text="<h4>Brand title</h4>")
					icon.is-toggle-navbar.is-medium
						i.fa.fa-bars
				navmenu
					nav-item Buscar
					nav-item Productos
					nav-item Servicios
					nav-item Contactos
row.bloque.padding-h-1.wrapper
	column.tablet-is-half
		h3.subtitle Componentes para redes sociales
	column.tablet-is-half
		box
			social
				media
					responsive.is-square-48
						img(src="https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-9/25659728_1503334959787685_1657382726692292790_n.jpg?oh=5d22e1fe2efeb3d3d899e68a08916c96&oe=5AF990F3", alt="").is-rounded
				content
					header
						textarea(placeholder="Description" rows="1").is-rounded.is-info
					section
						group.test-hover
							group-item
								icon.op-03.is-small
									i.fa.fa-thumbs-o-up
							group-item
								icon.op-03.is-small
									i.fa.fa-camera
							group-item
								icon.op-03.is-small
									i.fa.fa-link
							group-item
								icon.op-03.is-small
									i.fa.fa-plus-square-o
				button.is-info.is-small
					span Publicar
row.bloque.padding-h-1.wrapper
	column.tablet-is-half
		h3.subtitle Notificaciones simples.
	column.tablet-is-half
		notify.margin-1 Son flexibles
		br
		notify.margin-1.is-info Son limpias
		br
		notify.margin-1.is-success Son impresionantes
row.bloque.padding-h-1.wrapper
	column.tablet-is-half
		h3.subtitle Tarjetas flexibles
	column.tablet-is-half
		card
			responsive
				img(src="https://images.pexels.com/photos/753337/pexels-photo-753337.jpeg?h=350&auto=compress&cs=tinysrgb", alt="pexels.com")
			content
				h4 John Smith
				info.subtitle: h6 @JohnSmith
				justify.subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa et delectus, porro repellendus necessitatibus quaerat.
				small
					a(href="#") #Kimera
					a(href="#") @kimeraCSS<br>
				tiny.subtitle
					i 10 • Feb • 2018 - 08:45 pm
row.bloque.is-center
	button(data-link="layout-intro").is-light.is-text-primary.is-medium
		span Comenzar  
		icon.is-medium: i.fa.fa-arrow-right