.wrapper
	h1.title Mixins
	p.bloque-text Kimera incluye una serie de
		b mixins
		span que te ayudarán con algunas tareas básicas.
	responsive.is-table
		table.is-cell
			thead
				tr
					th Nombre
					th Descripción
			tbody
				tr
					td: code @mixin since ()
					td: small.is-text.bolder Mixin responsive apartir de cierta resolución
				tr
					td: code @mixin only ()
					td: small.is-text.bolder Mixin responsive soló en cierta resolución
				tr
					td: code Mixin until ()
					td: small.is-text.bolder Mixin responsive hasta cierta resolución
				tr
					td: code @mixin color-picker ()
					td: small.is-text.bolder Mixin que genera la paleta de colores.
				tr
					td: code @mixin border-shadow ()
					td
						small.is-text.bolder Mixin que genera bordes mediante la propiedad
						code box-shadow
						span .
	row.bloque.is-separated
		button(data-link="layout-anim").is-primary-invert
			icon
				i.fa.fa-arrow-left
			span   Animations
		button(data-link="layout-grid").is-primary-invert
			span Columns  
			icon
				i.fa.fa-arrow-right