.wrapper
	h1.title Sistema modular
	p.bloque-text Solo importa lo que
		b necesitas
		span para trabajar en tu proyecto.
	h4.subtitle Estructura de carpetas.
	p.bloque-text Kimera tiene un total de 45 archivos
		code .scss
		span .
	snippet(value="txt").margin-v-1
		pre
			.is-text-info |----- kimera-master
			br
			span |--------- kimera.scss
			br
			span |--------- config.scss
			br
			cm |--------- css
			span |------------- kimera.css
			br
			span |------------- kimera.min.css
			br
			cm |------------- all files css
			br
			cm |--------- js
			span |------------- kimera.js
			br
			span |------------- kimera.min.js
			br
			cm |--------- scss
			cm |------------- base  (dependencias obligatorias)
			span |----------------- _all.scss
			br
			cm |------------- utilities (dependencias obligatorias)
			span |----------------- _all.scss
			br
			cm |------------- layout
			span |----------------- _all.scss
			br
			cm |------------- components
			span |----------------- _all.scss
			br
			cm |------------- modules
			span |----------------- _all.scss
	p.bloque-text Todos los módulos y componentes de kimera, requieren de las dependencías obligatorías.
	h4.subtitle Implementación
	message.is-info.margin-1
		content
			p Es recomendable que ignores los archivos compilados de la carpeta
			code css
			span y el archivo
			code kimera.scss
			span , si vas a compilar solo lo necesario.
	p.bloque-text
		b 1.-
		span crea un archivo con extensión
		code .scss
		span o
		code .sass
		span , en la carpeta de tu proyecto.
	pp.bloque-text
		b 2.-
		span Utiliza la directiva de sass
		code @import
		span , para importar lo que necesites de la siguiente manera.
	snippet(value="scss").margin-v-1
		pre
			cm // Archivos de importación obligatorios
			at @import 
			vat "<span class="is-text-info">tu-proyecto</span>/kimera-master/scss/base/<span class="is-text-info">_all.scss</span>"
			at ;
			br
			at @import 
			vat "<span class="is-text-info">tu-proyecto</span>/kimera-master/scss/utilities/<span class="is-text-info">_all.scss</span>"
			at ;
			cm // Archivos modulares
			at @import 
			vat "<span class="is-text-info">tu-proyecto</span>/kimera-master/scss/layout/<span class="is-text-info">archivo.scss</span>"
			at ;
			br
			at @import 
			vat "<span class="is-text-info">tu-proyecto</span>/kimera-master/scss/components/<span class="is-text-info">archivo.scss</span>"
			at ;
			br
			at @import 
			vat "<span class="is-text-info">tu-proyecto</span>/kimera-master/scss/modules/<span class="is-text-info">archivo.scss</span>"
			at ;
	h4.subtitle Ejemplo
	p.bloque-text Para importar el sistema de rejilla se hace de la siguiente manera.
	snippet.margin-v-1
		pre
			cm // Importando el grid
			at @import 
			vat "<span class="is-text-info">tu-proyecto</span>/kimera-master/scss/layout/_grid.scss"
			at ;
	p.bloque-text Es todo, compilas y pruebas.
	snippet.margin-v-1
		pre
			tg &ltrow&gt
			br
			tg     &ltcolumn
			at class=
			vat "is-primary"
			tg &gt
			cm        column 1
			tg     &lt/column&gt
			br
			tg     &ltcolumn
			at class=
			vat "is-info"
			tg &gt
			cm        column 2
			tg     &lt/column&gt
			br
			tg     &ltcolumn
			at class=
			vat "is-success"
			tg &gt
			cm        column 3
			tg     &lt/column&gt
			br
			tg     &ltcolumn
			at class=
			vat "is-warning"
			tg &gt
			cm        column 4
			tg     &lt/column&gt
			br
			tg &lt/row&gt
	p.bloque-text Importando solamente los botones.
	snippet(value="scss").margin-v-1
		pre
			cm // Archivo de buttons
			at @import 
			vat "<span class="is-text-info">tu-proyecto</span>/kimera-master/scss/components/_buttons.scss"
			at ;
	p.bloque-text Al importar cualquier componente o módulo puedes hacer uso de todas sus
		b propiedades y características.
	snippet.margin-v-1
		pre
			cm // Colores
			tg &ltbutton
			at class=
			vat "is-black"
			tg &gt
			cm     @Content...
			tg &lt/button&gt
			br
			tg &ltbutton
			at class=
			vat "is-dark"
			tg &gt
			cm     @Content...
			tg &lt/button&gt
			br
			tg &ltbutton
			at class=
			vat "is-primary"
			tg &gt
			cm     @Content...
			tg &lt/button&gt
	p.bloque-text Importando todos los componentes o módulos.
	snippet(value="scss").margin-v-1
		pre
			cm // Archivo de buttons
			at @import 
			vat "<span class="is-text-info">tu-proyecto</span>/kimera-master/scss/components/_all.scss"
			at ;
			br
			at @import 
			vat "<span class="is-text-info">tu-proyecto</span>/kimera-master/scss/modules/_all.scss"
			at ;
			br
			at @import 
			vat "<span class="is-text-info">tu-proyecto</span>/kimera-master/scss/layout/_all.scss"
			at ;
	message.is-info.is-small.margin-1
		content
			p Dentro de cada carpeta que incluye
				b kimera
				span hay un archivo con el nombre
				code _all.scss
				span , el cual se encarga de cargar todos los archivos de esa carpeta.
	row.bloque.is-separated
		button(data-link="layout-contenido").is-primary-invert
			icon
				i.fa.fa-arrow-left
			span   Content
		button(data-link="layout-functions").is-primary-invert
			span Functions  
			icon
				i.fa.fa-arrow-right