.wrapper
	h1.title Sistema modular
	p.bloque-text Importa lo que
		b necesitas
		span para trabajar en tu proyecto.
	p.bloque-text Level tiene un total de 46 archivos
		code .scss
		span .
	snippet(value="txt").margin-v-1
		pre
			.is-text-info |----- level-master
			br
			span |--------- level.scss <span class="opacity-3"> //Archivo scss principal</span>
			br
			span |--------- config.scss <span class="opacity-3"> //Archivo de configuración donde puedes renombrar clases y componentes</span>
			br
			cm |--------- css
			span |------------- level.css <span class="opacity-3"> //Archivo compilado css</span>
			br
			span |------------- level.min.css <span class="opacity-3"> //Archivo minificado css</span>
			br
			cm |------------- todos los componentes compilados a css
			br
			cm |--------- js
			span |------------- level.js <span class="opacity-3"> //Archivo principal javascript</span>
			br
			span |------------- level.min.js <span class="opacity-3"> //Archivo javascript minificado</span>
			br
			cm |--------- scss
			cm |------------- base  (dependencias obligatorias)
			span |----------------- base.min.scss <span class="opacity-3"> //Archivo con estilos generales y helpers</span>
			br
			cm |------------- layout
			span |----------------- layouts.min.scss <span class="opacity-3"> //Archivo que genera el sistema de rejilla y layouts</span>
			br
			cm |------------- components
			span |----------------- components.min.scss <span class="opacity-3"> //Archivo que unifica todos los componentes</span>
			cm |----------------- todos los componentes del framework
			cm |--------- ts
			span |------------- Ficheros <span class="is-text-bolder">typescript</span> del framework
	message.is-info.margin-v-1: content Todos los componentes de level, requieren de las dependencías obligatorías.
	h4.subtitle Implementación
	message.is-info.margin-1
		content
			p Es recomendable que ignores los archivos compilados de la carpeta
			code css
			span y el archivo
			code level.scss
			span , si vas a compilar solo lo necesario.
	p.bloque-text
		b 1.-
		span crea un archivo con extensión
		code .scss
		span o
		code .sass
		span , en la carpeta de tu proyecto.
	pp.bloque-text
		b 2.-
		span Utiliza la directiva de sass
		code @import
		span , para importar lo que necesites de la siguiente manera.
	snippet(value="scss").margin-v-1
		pre
			cm // Archivos de importación obligatorios
			at @import 
			vat "<span class="is-text-info">tu-proyecto</span>/level-master/scss/base/<span class="is-text-info">base.min.scss</span>"
			at ;
			at @import 
			vat "<span class="is-text-info">tu-proyecto</span>/level-master/scss/layout/<span class="is-text-info">nombre del archivo.scss</span>"
			at ;
			br
			at @import 
			vat "<span class="is-text-info">tu-proyecto</span>/level-master/scss/components/<span class="is-text-info">archivo.scss</span>"
			at ;
	h4.subtitle Ejemplo
	p.bloque-text Para importar el sistema de rejilla se hace de la siguiente manera.
	snippet.margin-v-1
		pre
			cm // Importando el grid
			at @import 
			vat "<span class="is-text-info">tu-proyecto</span>/level-master/scss/layout/_grid.scss"
			at ;
	p.bloque-text Es todo, compilas y pruebas.
	snippet.margin-v-1
		pre
			tg &ltrow&gt
			br
			tg     &ltcolumn 
			at class=
			vat "is-primary"
			tg &gt
			cm        column 1
			tg     &lt/column&gt
			br
			tg     &ltcolumn 
			at class=
			vat "is-info"
			tg &gt
			cm        column 2
			tg     &lt/column&gt
			br
			tg     &ltcolumn 
			at class=
			vat "is-success"
			tg &gt
			cm        column 3
			tg     &lt/column&gt
			br
			tg     &ltcolumn 
			at class=
			vat "is-warning"
			tg &gt
			cm        column 4
			tg     &lt/column&gt
			br
			tg &lt/row&gt
	p.bloque-text Importando solamente los botones.
	snippet(value="scss").margin-v-1
		pre
			cm // Archivo de buttons
			at @import 
			vat "<span class="is-text-info">tu-proyecto</span>/level-master/scss/components/_buttons.scss"
			at ;
	p.bloque-text Al importar cualquier componente puedes hacer uso de todas sus
		b propiedades y características.
	snippet.margin-v-1
		pre
			cm // Colores
			tg &ltbutton 
			at class=
			vat "is-black"
			tg &gt
			cm     @Content...
			tg &lt/button&gt
			br
			tg &ltbutton 
			at class=
			vat "is-dark"
			tg &gt
			cm     @Content...
			tg &lt/button&gt
			br
			tg &ltbutton 
			at class=
			vat "is-primary"
			tg &gt
			cm     @Content...
			tg &lt/button&gt
	p.bloque-text Importando todos los componentes.
	snippet(value="scss").margin-v-1
		pre
			cm // Para importar todos los componentes simplemente llamas al fichero components.min.scss
			at @import 
			vat "<span class="is-text-info">tu-proyecto</span>/level-master/scss/components/components.min.scss"
			at ;
	message.is-info.is-small.margin-1
		content
			p Dentro de cada carpeta que incluye
				b level
				span hay un archivo con el nombre decha carpeta y la extensión
				code .min.scss
				span , el cual se encarga de unificar todos los archivos de esa carpeta en un solo fichero.
	row.bloque.is-separated
		button(data-link="layout-contenido").is-primary-invert
			icon
				i.fa.fa-arrow-left
			span   Content
		button(data-link="layout-functions").is-primary-invert
			span Functions  
			icon
				i.fa.fa-arrow-right