.wrapper
	h1.title Box
	p.bloque-text El componente
		code box
		span es un
		b simple contenedor flexible
		span con padding y sombra.
	h4.subtitle Implementación
	p.bloque-text Este componente por defecto aplica la propiedad
		code flex-direction: column
		span .
	row.bloque
		column.tablet-is-half
			box
				h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, aliquid.
		column.tablet-is-half
			snippet
				pre
					cm // flexible Box component
					tg &ltbox&gt
					br
					tg   &lth2&gt
					span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, aliquid.
					tg &lt/h2&gt
					br
					tg &lt/box&gt
	p.bloque-text Puedes aplicar la biblioteca de color que incluye kimera, para darle más estilos.
	row.bloque
		column.tablet-is-half
			box.color-info
				h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, aliquid.
		column.tablet-is-half
			snippet
				pre
					tg &ltbox 
					at class=
					vat "color-info"
					tg &gt<br>
					tg   &lth2&gt
					span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, aliquid.
					tg &lt/h2&gt<br>
					tg &lt/box&gt
	row.bloque.is-separated
		button(data-link="layout-block").is-primary-invert
			icon
				i.fa.fa-arrow-left
			span   Blockquote
		button(data-link="layout-buttons").is-primary-invert
			span Buttons  
			icon
				i.fa.fa-arrow-right