.wrapper
	h1.title Iconos
	row.bloque
		column.tablet-is-half
			icon
				i.fa.fa-home
		column.tablet-is-half
			snippet
				pre
					tg &lticon&gt
					br
					tg   &lti
					at class=
					vat "fa fa-home"
					tg &gt
					br
					tg &lt/icon&gt
	h4.subtitle Iconos personalizados
	p.bloque-text Puedes crear el típico icono de
		b hamburguesa
		span  generando la siguiente estructura.
	row.bloque
		column.tablet-is-half
			burger
		column.tablet-is-half
			snippet
				pre
					tg &ltburger&gt&lt/burger&gt
	p.bloque-text Añadiendo la clase
		code .is-active
		span el icono se transforma mediante una pequeña animación.
	row.bloque
		column.tablet-is-half
			burger.is-active
		column.tablet-is-half
			snippet
				pre
					tg &ltburger
					at class=
					vat "is-active"
					tg &gt&lt/burger&gt
	p.bloque-text Puedes añadir la clase
		code .is-arrow-left
		span  generando el siguiente efecto.
	row.bloque
		column.tablet-is-half
			burger.is-arrow-left.is-active
		column.tablet-is-half
			snippet
				pre
					tg &ltburger
					at class=
					vat "is-arrow-left"
					tg &gt&lt/burger&gt
	p.bloque-text Puedes añadir la clase
		code .is-arrow-right
		span  generando el siguiente efecto.
	row.bloque
		column.tablet-is-half
			burger.is-arrow-right.is-active
		column.tablet-is-half
			snippet
				pre
					tg &ltburger
					at class=
					vat "is-arrow-right"
					tg &gt&lt/burger&gt
	p.bloque-text Puedes modificar el color del icono desde 
		strong CSS
		span  de la siguiente forma:
	row.bloque
		column.tablet-is-half
			burger#Color-burger
		column.tablet-is-half
			snippet
				pre
					tg burger span
					at {
					br
					tg   background-color
					at :
					span red
					at ;
					br
					at }
	p.bloque-text Icono de menú
		b secundarío
		span .
	p.bloque-text Puedes crear el típico icono de menú
		b secundario
		span  generando la siguiente estructura.
	row.bloque
		column.tablet-is-half
			ellipsis
		column.tablet-is-half
			snippet
				pre
					tg &ltellipsis&gt&lt/ellipsis&gt
	p.bloque-text Añadiendo la clase
		code .is-active
		span el icono se transforma mediante una pequeña animación.
	row.bloque
		column.tablet-is-half
			ellipsis.is-active
		column.tablet-is-half
			snippet
				pre
					tg &ltellipsis
					at class=
					vat "is-active"
					tg &gt&lt/ellipsis&gt
	p.bloque-text Puedes añadir la clase
		code .is-arrow-left
		span  generando el siguiente efecto.
	row.bloque
		column.tablet-is-half
			ellipsis.is-arrow-left.is-active
		column.tablet-is-half
			snippet
				pre
					tg &ltellipsis
					at class=
					vat "is-arrow-left"
					tg &gt&lt/ellipsis&gt
	p.bloque-text Puedes añadir la clase
		code .is-arrow-right
		span  generando el siguiente efecto.
	row.bloque
		column.tablet-is-half
			ellipsis.is-arrow-right.is-active
		column.tablet-is-half
			snippet
				pre
					tg &ltellipsis
					at class=
					vat "is-arrow-right"
					tg &gt&lt/ellipsis&gt
	p.bloque-text Puedes modificar el color del icono desde 
		strong CSS
		span  de la siguiente forma:
	row.bloque
		column.tablet-is-half
			ellipsis#Color-ellipsis
		column.tablet-is-half
			snippet
				pre
					tg ellipsis span
					at {
					br
					tg   background-color
					at :
					span red
					at ;
					br
					at }
	h4.subtitle Icon close
	p.bloque-text Mediante la etiqueta personalizada
		code close
		span puedes crear el típico icono de "
		code &times;
		span ".
	row.bloque
		column.tablet-is-half
			close
		column.tablet-is-half
			snippet
				pre
					tg &ltclose&gt&lt/close&gt
	row.bloque
		column.tablet-is-half
			tag
				span Close 
				close
			tag
				span Close con icono 
				close
					i.fa.fa-times-circle
		column.tablet-is-half
			snippet
				pre
					tg &lttag&gt
					br
					span   Close 
					br
					tg   &ltclose&gt&lt/close&gt
					br
					tg &lt/tag&gt
					br
					tg &lttag&gt
					br
					span   Close con icono 
					br
					tg   &ltclose&gt
					br
					tg     &lti
					at class=
					vat "fa fa-times-circle"
					tg &gt
					tg &lt/i&gt
					br
					tg   &lt/close&gt
					br
					tg &lt/tag&gt
	message.margin-1.is-small.is-primary
		header Tips
		content Cuando no añades ningun icono externo al elemento
			code close
			span automáticamente se dibuja una "
			code &times;
			span " mediante el uso del pseudo-elemento
			code ::after
			span , con la ayuda del selector
			code :empty
			span . 
	h4.subtitle Tamaños
	p.bloque-text Los tamaños de los iconos son aplicables utilizando las siguientes clases.
	ul
		li: code .is-small
		li: code .is-medium
		li: code .is-large
		li: code .is-jumbo
	row.bloque
		column.tablet-is-half
			span
				icon.is-small
					i.fa.fa-home
			span
				icon
					i.fa.fa-home
			span
				icon.is-medium
					i.fa.fa-home
			span
				icon.is-large
					i.fa.fa-home
			span
				icon.is-jumbo
					i.fa.fa-home
		column.tablet-is-half
			snippet
				pre
					tg &lticon
					at class=
					vat "is-small"
					tg &gt
					br
					tg   &lti
					at class=
					vat "fa fa-home"
					tg &gt
					br
					tg &lt/icon&gt
					br
					tg &lticon&gt
					br
					tg   &lti
					at class=
					vat "fa fa-home"
					tg &gt
					br
					tg &lt/icon&gt
					br
					tg &lticon
					at class=
					vat "is-medium"
					tg &gt
					br
					tg   &lti
					at class=
					vat "fa fa-home"
					tg &gt
					br
					tg &lt/icon&gt
					br
					tg &lticon
					at class=
					vat "is-large"
					tg &gt
					br
					tg   &lti
					at class=
					vat "fa fa-home"
					tg &gt
					br
					tg &lt/icon&gt
					br
					tg &lticon
					at class=
					vat "is-jumbo"
					tg &gt
					br
					tg   &lti
					at class=
					vat "fa fa-home"
					tg &gt
					br
					tg &lt/icon&gt
	h4.subtitle Dimensiones
	row
		column.tablet-is-half.padding-1
			message.margin-1.is-primary.is-small
				content
					p El color de fondo en el icono es unicamente con fines demostrativos.
		column.tablet-is-half.padding-1
			message.margin-1.is-info.is-small
				content
					p Estas dimensiones no son aplicable a los iconos personalizados
						code burger
						span ,
						code ellipsis
						span .
	responsive.is-table.bloque
		table.is-cell.is-block
				thead
					th Clase
					th Tamaño del contenedor
					th tamaño del icono
					th Muestra
				tbody
					tr
						td: code is-small
						td: code.is-text-info 1rem x 1rem
						td: small.is-text-bolder 0.7rem
						td
							icon.is-small.color-warning
								i.fa.fa-github
					tr
						td: code Ninguno
						td: code.is-text-info 1.5rem x 1.5rem
						td: small.is-text-bolder 1rem
						td
							icon.color-warning
								i.fa.fa-github
					tr
						td: code is-medium
						td: code.is-text-info 1.5rem x 1.5rem
						td: small.is-text-bolder 1.3rem
						td
							icon.is-medium.color-warning
								i.fa.fa-github
					tr
						td: code is-large
						td: code.is-text-info 2rem x 2rem
						td: small.is-text-bolder 1.5rem
						td
							icon.is-large.color-warning
								i.fa.fa-github
					tr
						td: code is-jumbo
						td: code.is-text-info 2rem x 2rem
						td: small.is-text-bolder 2rem
						td
							icon.is-jumbo.color-warning
								i.fa.fa-github
	row.bloque.is-separated
		button(data-link="layout-icons").is-primary-invert
			icon
				i.fa.fa-arrow-left
			span   Icons
		button(data-link="layout-preload").is-primary-invert
			span Preload  
			icon
				i.fa.fa-arrow-right