row.color-light.is-center.padding-2.margin-t-2
	img(src=urlimage+"/jsdelivr.png", alt="CDN Jsdelivr" style="width: 25px; height: 25px;")
	center.padding-h-1
		a(href="https://jsdelivr.com").is-text-info CDN
		span.op-05 proporcionado por
		b JsDelivr.
footer.padding-2.color-primary.is-small
	.is-text-center.is-wrapper
		span El Contenido de esta web cuenta con la licencía  
		a(href="https://creativecommons.org/licenses/by/3.0").is-text-white: b CC BY 3.0
		span .
		b level
		span es un proyecto gratuito y
		b open source
		span con licencia
		a(href="https://github.com/JorgeAntrax/level/blob/master/LICENSE").is-text-white.is-text-bolder MIT
	.is-text-center.margin-b-2 &copy level 2018, Todos los derechos reservados.
	.is-text-center.is-visible-tablet
		a(href="#home" is-icon).button.is-primary-inverse.is-large.is-rounded
			icon
				i.fa.fa-angle-up