- var version = '0.6.0';
- var facebook = 'https://www.facebook.com/kimeracss';
- var github = 'https://github.com/JorgeAntrax/kimera/';
- var twitter = 'https://www.twitter.com/kimeracssframew';
- var gitLeito = 'https://www.github.com/JorgeAntrax/';
- var gitRuslan = 'https://www.github.com/javatlacati/';
- var faceLeito = 'https://www.facebook.com/AntraXhernandez94';
- var faceRuslan = 'https://www.facebook.com/javatlacati';

- var docCSS = "css/docs.css";

//- var urlimage = 'img/';
//- var fontAwesome = "font/font-awesome/css/font-awesome.min.css";
//- var kimeraCSS = "level/css/level.min.css";
//- var kimeraJS = "level/js/level.js";



- var urlimage = 'https://xoolar-quantum.000webhostapp.com/img/';
- var fontAwesome = "//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
- var kimeraCSS = "css/level.min.css";
- var kimeraJS = "js/level.min.js";