- var urlimage = 'https://xoolar-quantum.000webhostapp.com/img/';
//- var urlimage = 'img/';
- var version = '0.5.2';
- var kimeraCSS = "css/kimera.min.css";
- var docCSS = "css/docs.css";
- var kimeraJS = "js/kimera.min.js";
- var fontAwesome = "//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
//- var fontAwesome = "font/font-awesome/css/font-awesome.min.css"
- var facebook = 'https://www.facebook.com/kimeracss';
- var github = 'https://github.com/JorgeAntrax/kimera/';
- var twitter = 'https://www.twitter.com/kimeracssframew';