tabs.shadow-y
	tab(data-id="#page-acordeon").is-active Acordeon
	tab(data-id="#page-bread") Breadcrumb
	tab(data-id="#page-card") Cards
	tab(data-id="#page-group") Group
	tab(data-id="#page-media") Media
	tab(data-id="#page-mega") Mega
	tab(data-id="#page-menu") Menus
	tab(data-id="#page-message") Message
	tab(data-id="#page-modal") Modal
	tab(data-id="#page-navbar") Navbar
	tab(data-id="#page-notify") Notify
	//tab(data-id="#page-slide") Slideshow
	tab(data-id="#page-social") Social
	tab(data-id="#page-table") Table
	tab(data-id="#page-tabs") Tabs
tabs-content.app
	tab-content#page-acordeon
		include ../modules/acordeon.jade
	tab-content#page-bread
		include ../modules/breadcrumb.jade
	tab-content#page-card
		include ../modules/card.jade
	tab-content#page-group
		include ../modules/group.jade
	tab-content#page-media
		include ../modules/media.jade
	tab-content#page-mega
		include ../modules/mega.jade
	tab-content#page-menu
		include ../modules/menus.jade
	tab-content#page-message
		include ../modules/message.jade
	tab-content#page-modal
		include ../modules/modal.jade
	tab-content#page-navbar
		include ../modules/navbar.jade
	tab-content#page-notify
		include ../modules/notify.jade
	//tab-content#page-slide
	//	include ../../html/modules/slideshow.html
	tab-content#page-social
		include ../modules/social.jade
	tab-content#page-table
		include ../modules/table.jade
	tab-content#page-tabs
		include ../modules/tabs.jade
