tabs
	tab(data-id="#page-acordeon") Acordeon
	tab(data-id="#page-bread") Breadcrumb
	tab(data-id="#page-card") Cards
	tab(data-id="#page-group") Group
	tab(data-id="#page-media") Media
	tab(data-id="#page-mega") Mega
	tab(data-id="#page-menu") Menus
	tab(data-id="#page-message") Message
	tab(data-id="#page-modal") Modal
	tab(data-id="#page-navbar") Navbar
	tab(data-id="#page-notify") Notify
	//tab(data-id="#page-slide") Slideshow
	tab(data-id="#page-social") Social
	tab(data-id="#page-table") Table
	tab(data-id="#page-tabs") Tabs
tabs-content.app
	tab-content#page-acordeon
		include ../../html/modules/acordeon.html
	tab-content#page-bread
		include ../../html/modules/breadcrumb.html
	tab-content#page-card
		include ../../html/modules/card.html
	tab-content#page-group
		include ../../html/modules/group.html
	tab-content#page-media
		include ../../html/modules/media.html
	tab-content#page-mega
		include ../../html/modules/mega.html
	tab-content#page-menu
		include ../../html/modules/menus.html
	tab-content#page-message
		include ../../html/modules/message.html
	tab-content#page-modal
		include ../../html/modules/modal.html
	tab-content#page-navbar
		include ../../html/modules/navbar.html
	tab-content#page-notify
		include ../../html/modules/notify.html
	//tab-content#page-slide
		//include ../../html/modules/slideshow.html
	tab-content#page-social
		include ../../html/modules/social.html
	tab-content#page-table
		include ../../html/modules/table.html
	tab-content#page-tabs
		include ../../html/modules/tabs.html