tabs
	tab(data-id="#page-field") Fields
	tab(data-id="#page-input") Input
	tab(data-id="#page-textarea") Textarea
	tab(data-id="#page-checkbox") Checkbox
	tab(data-id="#page-radio") Radio
	tab(data-id="#page-color") Color
	tab(data-id="#page-select") Select
tabs-content.app
	tab-content#page-field
		include ../../html/forms/field.html
	tab-content#page-input
		include ../../html/forms/input.html
	tab-content#page-textarea
		include ../../html/forms/textarea.html
	tab-content#page-checkbox
		include ../../html/forms/checkbox.html
	tab-content#page-radio
		include ../../html/forms/radio.html
	tab-content#page-color
		include ../../html/forms/color.html
	tab-content#page-select
		include ../../html/forms/select.html