tabs.shadow-y
	tab(data-id="#page-field").is-active Fields
	tab(data-id="#page-input") Input
	tab(data-id="#page-textarea") Textarea
	tab(data-id="#page-checkbox") Checkbox
	tab(data-id="#page-radio") Radio
	tab(data-id="#page-color") Color
	tab(data-id="#page-select") Select
tabs-content.app
	tab-content#page-field
		include ../forms/field.jade
	tab-content#page-input
		include ../forms/input.jade
	tab-content#page-textarea
		include ../forms/textarea.jade
	tab-content#page-checkbox
		include ../forms/checkbox.jade
	tab-content#page-radio
		include ../forms/radio.jade
	tab-content#page-color
		include ../forms/color.jade
	tab-content#page-select
		include ../forms/select.jade
