#menu-close
menu#m1.color-primary.is-small.is-text-upper
	content
		row.padding-v-2.is-center
			img(src=urlimage+'logo-white.png' alt="kimera" style="width: 40%; height: auto")
		menu-item(data-link="layout-home").is-active
			a
				icon
					i.fa.fa-home
				span Inicio
		menu-item(data-link="layout-intro")
			a
				icon
					i.fa.fa-heart
				span Introducción
		divider.is-white
		menu-item.is-title documentación
		menu-item(data-link="layout-grid")
			a
				icon
					i.fa.fa-th-large
				span Rejilla
		menu-item(data-link="layout-components")
			a
				icon
					i.fa.fa-cubes
				span Componentes
		menu-item(data-link="layout-forms")
			a
				icon
					i.fa.fa-mouse-pointer
				span Formularios
		menu-item(data-link="layout-modules")
			a
				icon
					i.fa.fa-pie-chart
				span Modulos