tabs.shadow-y
	tab(data-id="#page-block").is-active Blockquotes
	tab(data-id="#page-box") Box
	tab(data-id="#page-buttons") Buttons
	tab(data-id="#page-chip") Chip
	tab(data-id="#page-dropdown") Dropdown
	tab(data-id="#page-icons") Icons
	tab(data-id="#page-preload") Preload
	tab(data-id="#page-progress") Progress
	tab(data-id="#page-range") Range
	tab(data-id="#page-tags") Tags
	tab(data-id="#page-toggle") Toggle
	tab(data-id="#page-tooltip") Tooltips
tabs-content.app
	tab-content#page-block
		include ../../html/components/blockquote.html
	tab-content#page-box
		include ../../html/components/box.html
	tab-content#page-buttons
		include ../../html/components/buttons.html
	tab-content#page-chip
		include ../../html/components/chip.html
	tab-content#page-dropdown
		include ../../html/components/dropdown.html
	tab-content#page-icons
		include ../../html/components/icons.html
	tab-content#page-tags
		include ../../html/components/tags.html
	tab-content#page-tooltip
		include ../../html/components/tooltip.html
	tab-content#page-toggle
		include ../../html/components/toggle.html
	tab-content#page-range
		include ../../html/components/range.html
	tab-content#page-preload
		include ../../html/components/preload.html
	tab-content#page-progress
		include ../../html/components/progress.html