tabs.shadow-y
	tab(data-id="#page-block").is-active Blockquotes
	tab(data-id="#page-box") Box
	tab(data-id="#page-buttons") Buttons
	tab(data-id="#page-chip") Chip
	tab(data-id="#page-dropdown") Dropdown
	tab(data-id="#page-icons") Icons
	tab(data-id="#page-preload") Preload
	tab(data-id="#page-progress") Progress
	tab(data-id="#page-range") Range
	tab(data-id="#page-tags") Tags
	tab(data-id="#page-toggle") Toggle
	tab(data-id="#page-tooltip") Tooltips
tabs-content.app
	tab-content#page-block
		include ../components/blockquote.jade
	tab-content#page-box
		include ../components/box.jade
	tab-content#page-buttons
		include ../components/buttons.jade
	tab-content#page-chip
		include ../components/chip.jade
	tab-content#page-dropdown
		include ../components/dropdown.jade
	tab-content#page-icons
		include ../components/icons.jade
	tab-content#page-tags
		include ../components/tags.jade
	tab-content#page-tooltip
		include ../components/tooltip.jade
	tab-content#page-toggle
		include ../components/toggle.jade
	tab-content#page-range
		include ../components/range.jade
	tab-content#page-preload
		include ../components/preload.jade
	tab-content#page-progress
		include ../components/progress.jade
